 
<footer class="footersection">
 <div class="container footer_section">
  		<div class="row">
		  <div class="col-sm-4">
		             {{ page.footer_first }}
		  </div>
		  
		  <div class="col-sm-4">
		              {{ page.footer_second }}
		  </div>	 

		  <div class="col-sm-4">
		                {{ page.footer_last }}
		  </div>  
		</div>
   </div>
</footer>	  
	  
	<div class="container-fluid">  
	    <div class="row"> 
		   <div class="col-sm-12 footcopyright">
		                {{ page.footer_coptyright }}
		   </div>
		</div>
	</div>
